
<div class="panel panel-default">
    <div class="panel-heading ui-draggable-handle">
		<h3 class="panel-title">{{vm.title}}</h3>
	</div>
    <div class="panel-body">
        <form name="leasonForm" novalidate role="form" class="form-horizontal">
            <div class="form-group" ng-class="{ 'has-error': modelForm.name.$invalid && modelForm.$submitted }">
                <label class="col-md-2 control-label">
                    Name:
                    <span class="required">* </span>
                </label>
                <div class="col-md-4">
                    <input type="text" class="form-control" 
                        ng-model="vm.model.name" name="name" required="" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">
                    Description:
                </label>
                <div class="col-md-4">
                    <textarea class="form-control" 
                        ng-model="vm.model.description" name="description"/>
                </div>
            </div>
            <hr/>
            <div class="form-group">
                <label class="col-md-2 control-label">
                </label>
                <div class="col-md-9">
                    <a class="btn btn-default"
                        ui-sref="industries.list"
                        href="javascript:;"
                    >
                        <i class="fa fa-close"></i>
                        Close
                    </a>
                    <button
                        class="btn btn-primary"
                        data-ng-disabled="!vm.disabled"
                        data-ng-click="vm.save();"
                    >
                        <i class="fa fa-save"></i>
                        Save
                    </button>
                </div>
            </div> 
        </form>
    </div>
</div>

