<div class="panel panel-default">
	<div class="panel-heading ui-draggable-handle">
		<h3 class="panel-title">Industries</h3>
	</div>
	<div class="panel-body">
		<form>
			<div class="col-sm-4">
				<div class="form-group has-feedback">
					<div class="input-group">
						<input type="text"
								class="form-control"
								placeholder="Search..."
								data-ng-model="vm.search_title"
								data-ng-keypress="($event.which === 13) ? search() : 0"
						/>
						<span class="input-group-btn">
							<button class="btn btn-default"
									data-ng-click="vm.search()"
									type="button">Search</button>
						</span>
					</div>
				</div>
			</div>
			<a class="btn btn-default pull-right"
				ui-sref="industries.create"
			>
				<span class="fa fa-plus"></span>
				Add New
			</a>
		</form>
		<br>
		<br>
		<br>
		<table class="table table-striped" style="font-size: 12px;">
			<thead>
				<th width="5%">
					#
				</th>
				<th width="80%">
					Name
				</th>
				<th width="15%">
					Action
				</th>
			</thead>
			<tbody>
				<tr data-ng-repeat="n in vm.model.elements">
					<td>
						{{$index + 1}}
					</td>
					<td>
						{{n.name}}
					</td>
					<td>
						<a
							class="btn btn-default"
							ui-sref="industries.edit({id: n.id})"
							data-toggle="tooltip"
							data-placement="top"
							title="Edit"
							tooltip
						>
							<span class="fa fa-pencil-square-o"></span>
						</a>
						<button
							class="btn btn-danger"
							data-ng-click="vm.remove(n.id, $index);"
							uib-tooltip="Delete"
						>
							<span class="glyphicon glyphicon-trash"></span>
						</button>
						<button
							class="btn btn-success"
							data-ng-click="vm.updateStatus(n);"
							data-ng-if="n.status == 1"
							uib-tooltip="Active"
						>
							<span class="fa fa-check-square-o"></span>
						</button>
						<button
							class="btn btn-warning"
							data-ng-if="n.status == 0"
							data-ng-click="vm.updateStatus(n);"
							data-toggle="tooltip"
							data-placement="top"
							title="Inactive"
							tooltip
						>
							<span class="fa fa-minus-square-o"></span>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
		<div data-ng-if="vm.model.elements == 0">
			<div class="alert alert-danger alert-dismissible">
				<strong>Warning!</strong> No Record Found.
			</div>
		</div>
		<div data-ng-if="!vm.model" class="text-center">
			<i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
		</div>
		<div
			class="panel-footer"
		>
			<ul uib-pagination
				total-items="vm.totalItems"
				ng-model="vm.currentPage"
				ng-change="vm.pageChanged()"
				max-size="5"
				items-per-page="10"
				boundary-links="true"
			></ul>
		</div>     
	</div>
</div>