
<div class="panel panel-default">
    <div class="panel-body">
        <h3 class="push-down-0">
            Salary Range
        </h3>
    </div>
    <div class="panel-body">
        <form name="modelForm" novalidate role="form" class="form-horizontal">
            <div class="form-group" ng-class="{ 'has-error': modelForm.from.$invalid && modelForm.$submitted }">
                <label class="col-md-2 control-label">
                    From:
                    <span class="required">* </span>
                </label>
                <div class="col-md-4">
                    <input type="number" class="form-control" 
                        ng-model="vm.model.from_salary" name="from" required="" />
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': modelForm.to.$invalid && modelForm.$submitted }">
                <label class="col-md-2 control-label">
                    To:
                    <span class="required">* </span>
                </label>
                <div class="col-md-4">
                    <input type="number" class="form-control" 
                        ng-model="vm.model.to_salary" name="to" required="" />
                </div>
            </div>
            <hr/>
            <div class="form-group">
                <label class="col-md-2 control-label">
                </label>
                <div class="col-md-9">
                    <a class="btn btn-default"
                        ui-sref="salary_range.list"
                        href="javascript:;"
                    >
                        <i class="fa fa-close"></i>
                        Close
                    </a>
                    <button
                        class="btn btn-primary"
                        data-ng-disabled="!vm.disabled"
                        data-ng-click="vm.save();"
                    >
                        <i class="fa fa-save"></i>
                        Save
                    </button>
                </div>
            </div> 
        </form>
    </div>
</div>

