<div class="">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header title-header">
                Choose Your Plan
            </div>
        </div>
        <!-- Pricing -->
        <div class="col-md-3" data-ng-repeat="row in vm.plans.elements">
            <div class="pricing hover-effect" 
                data-ng-class="{'pricing-active': row.selected}">
                <div class="pricing-head">
                    <h3>
                        {{row.name}}
                    </h3>
                    <h4>
                        <i>
                            {{row.price | currency}}
                        </i>
                        <span> Per Month </span>
                    </h4>
                    <div style="padding: 10px;color: #777;">
                        Display Type: 
                        <img src="images/{{row.display_type}}" style="max-width: 50px;"/>
                    </div>
                </div>
                <div class="pricing-footer">
                    <p data-ng-bind-html="row.benefit"></p>
                    <a href="javascript:;" class="btn yellow-crusta" data-ng-click="vm.selectPlan($index);">
                        Select
                    </a>
                </div>
            </div>
        </div>
        <!--//End Pricing -->
        <div class="col-md-12">
            <div class="align-right">              
                <button class="btn btn-default"
                    ng-click="vm.back($event);">
                    <i class="fa fa-close"></i>
                    Close
                </button>  
                <button class="btn btn-primary"
                    data-ng-click="vm.updatePlan()"
                    data-ng-disabled="!vm.selected">
                    <i class="fa fa-save" data-ng-if="!vm.disabled"></i>
                    <i class="fa fa-refresh fa-spin" data-ng-if="vm.disabled"></i>
                    Save
                </button>
            </div>
        </div>  
    </div>
</div>