<form data-ng-submit="save();" name="myForm" data-ng-controller="property_post_ctrl">
    <h4>
        Job Information
    </h4>
    <div class="row">
        <div class="col-md-6">
            <label>
                Category Type:
            </label>
            <select
                data-ng-model="categories_id"
                data-ng-options="c.categories_id as c.categories_name for c in categoryList.elements"
                class="form-control"
                required
            >
                <option value="">--Select Category--</option>
            </select>
            <label>
                Job Type:
            </label>
            <select
                data-ng-model="job_type"
                data-ng-options="p for p in propertyTypes"
                class="form-control"
                required
            >
                <option value="">--Select Type--</option>
            </select>
            <label>
                Gender:
            </label>
            <select
                data-ng-model="gender"
                data-ng-options="p for p in genders"
                class="form-control"
                required
            >
                <option value="">--Select Gender--</option>
            </select>
            <label>
                Job Title:
            </label>
            <input
                type="text"
                class="form-control"
                data-ng-model="title"
                required
            />
            <label>
                Salary:
            </label>
            <input type="text" class="form-control" required data-ng-model="salary"/>
            <label>
                Number of Hire:
            </label>
            <input type="text" class="form-control" required data-ng-model="number_of_hire"/>
            <label>
                Location:
            </label>
            <select
                data-ng-model="province_id"
                data-ng-options="p.id as p.name for p in provinces.elements"
                class="form-control"
                data-ng-change="initDistrict(province_id);"
                required
            >
                <option value="">--Select Province--</option>
            </select>
            <label>
                Expire Date:
            </label>
            <input
                type="text"
                class="form-control"
                data-ng-model="expire_date"
                datetime-picker
                date-format="dd-MM-yyyy"
                date-only
            >
        </div>
        <div class="col-md-6">
            <label>
                Description, duties, responsibilities:
            </label>
            <textarea
                class="form-control"
                data-ng-model="description"
                ui-tinymce="tinymceOptions"
                rows="14"
            ></textarea>
        </div>
    </div>
    <div class="row">
        <div class="dcol-md-12">
            <div class="col-md-6">
                <label>
                    Other benefits:
                </label>
                <textarea
                    class="form-control"
                    data-ng-model="benefits"
                    ui-tinymce="tinymceOptions"
                    rows="10"
                ></textarea>
            </div>
            <div class="col-md-6">
                <label> 
                    Personality requirements and skills:
                </label>
                <textarea
                    class="form-control"
                    data-ng-model="requirement"
                    ui-tinymce="tinymceOptions"
                    rows="10"
                ></textarea>
            </div>
        </div>
    </div>
    <br>
    <div class="row col-md-12">
        <div class="align-right">
            <button
                class="btn btn-primary"
                data-ng-disabled="!disabled"
            >
                <i class="fa fa-save" data-ng-show="disabled"></i>
                <i class="fa fa-refresh fa-spin" data-ng-hide="disabled"></i>
                Save
            </button>
            <button
                class="btn btn-default"
                ng-click="back($event);"
            >
                <i class="fa fa-close"></i>
                Close
            </button>
        </div>
    </div>  
</form>
