<form data-ng-submit="vm.save()" class="form-horizontal" name="accountForm">
    <div class="panel">
        <div class="panel-body">
            <div class="col-sm-12">
                <div class="">
                    <a href="javascript" class="btn btn-default" ui-sref="cv">
                        <i class="fa fa-close"></i>
                        Close
                    </a>
                </div>
                <div class="row">
                    <div class="page-header title-header text-center">
                        Cover Letter
                    </div>
                </div>
                <div class="col-md-12">
                    <h4 class="pull-right">{{vm.model.full_name}}</h4>
                </div>
                <div class="col-md-12 text-center">
                    <span class="pull-right"> Present address: {{vm.model.present_address}}</span>
                </div>
                <div class="col-md-12 text-center">
                    <span class="pull-right"> Phone number: {{vm.model.phone_number}}</span>
                </div>
                <div class="col-md-12 text-center">
                    <span class="pull-right"> Email: {{vm.model.email}}</span>
                </div>
                <div class="form-group">
                    <label class="col-md-2">
                        Apply For
                    </label>
                    <div class="col-md-5">
                        {{vm.model.apply_for}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2">
                        Function
                    </label>
                    <div class="col-md-5">
                        {{vm.model.function_name}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2">
                        Prefer Location
                    </label>
                    <div class="col-md-5">
                        {{vm.model.preferLocation_name}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2">
                        Salary Expected
                    </label>
                    <div class="col-md-5">
                        {{vm.model.salary_expected | currency}}
                    </div>
                </div>
                <div class="row">
                    <div class="page-header title-header col-md-12">
                        Cover Letter Detail
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <span data-ng-bind-html="vm.model.cover_letter_summary"></span>
                    </div>
                </div>
                <!-- START CV INFORMATION -->
                <div class="row">
                    <div class="page-header title-header text-center col-md-12">
                        Curriculum Vitae(CV)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <div class="form-group">
                            <label class="col-md-2">
                                Full Name
                            </label>
                            <div class="col-md-5">
                                {{vm.model.full_name}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2">
                                Gender
                            </label>
                            <div class="col-md-5">
                                {{vm.model.gender}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2">
                                Date of Birth
                            </label>
                            <div class="col-md-5">
                                {{vm.model.dob}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2">
                                Nationality
                            </label>
                            <div class="col-md-5">
                                {{vm.model.nationality}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2">
                                Religion
                            </label>
                            <div class="col-md-5">
                                {{vm.model.religion}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2">
                                Health
                            </label>
                            <div class="col-md-5">
                                {{vm.model.health}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2">
                                Marital Status
                            </label>
                            <div class="col-md-5">
                                {{vm.model.marital_status}}
                            </div>
                        </div>
            
                        <div class="form-group">
                            <label class="col-md-2">
                                Telephone
                            </label>
                            <div class="col-md-5">
                                {{vm.model.phone_number}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2">
                                Email Address
                            </label>
                            <div class="col-md-5">
                                {{vm.model.email}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2">
                                Country
                            </label>
                            <div class="col-md-5">
                                {{vm.model.country_name}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2">
                                State/City
                            </label>
                            <div class="col-md-5">
                                {{vm.model.state_city}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2">
                                Current Position                             
                            </label>
                            <div class="col-md-5">
                                {{vm.model.current_position}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2">
                                Present Address
                            </label>
                            <div class="col-md-5">
                                {{vm.model.present_address}}
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <img src="{{vm.model.photo}}" alt="" srcset="" class="img-thumbnail">
                    </div>
                </div>
                
                <!-- START Other -->
                <div class="row">
                    <div class="page-header title-header col-md-12">
                        Education Background
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <span data-ng-bind-html="vm.model.experience"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="page-header title-header col-md-12">
                        Working Experience
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <span data-ng-bind-html="vm.model.working_history"></span>
                    </div>
                </div>
                <!-- START Other -->
                <div class="row">
                    <div class="page-header title-header col-md-12">
                        Other
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <span data-ng-bind-html="vm.model.summary"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.center -->
</form>
