body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif, "Khmer OS";
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.header-nav li a .fa {
    color: #c7d1d8;
    font-size: 20px;
    margin-left: 10px;
    vertical-align: 1px;
}
.header-nav li a:hover {
    color: #ed1c24;
}
.collapse {
    display: block;
    visibility: visible;
}
ul.filter-list li {
    float: left;
    padding: 0px;
    width: 32%;
}

@media (min-width: 768px){
    .header-nav li {
        margin: 0px 0px 0px 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        position: relative;
    }
}
.position-header h1 {
    font-size: 30px;
}
.position-header {
    margin: 0px 0px 22px 0px;
}
.positions-list-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 10px 0px;
    position: relative;
}
.page-header {
    text-transform: uppercase;
    padding-bottom: 8px;
    margin: 40px 0 0px;
    border-bottom: 1px solid #eeeeee;
}
.positions-list-item h3 img {
    height: 20px;
    vertical-align: middle;
}
.features-company{
    border: 1px solid #eee;
    padding: 5px 10px 5px 10px;
    margin: 20px 0px 20px 0px;  
}
.feature_logo{
    width: 100px;
}
.features-company h4{
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 10px;
}